include ../mixins

doctype html
html(lang="en")
	head
		title Title
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1,width=device-width")
		link(rel="stylesheet", href="./css/style.css")
	body
		script(src="./js/libs.min.js")
		script(src="./js/main.js")